DATABASE_URL="postgresql://seller:seller@localhost:5433/seller?schema=public"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
EMAIL_SERVER_HOST=""
EMAIL_SERVER_PORT=""
EMAIL_SERVER_USER=""
EMAIL_SERVER_PASSWORD=""
EMAIL_FROM=""
PADDLE_API_KEY=""
PADDLE_WEBHOOK_SECRET=""
PADDLE_ENVIRONMENT="sandbox"
